body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

/* Logo & Header menu start */

.center-header {
  margin: auto;
  width: 60%;
}

.header {
  background-color: white;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 12px;
  color: black;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.logo {
  margin: 10px 0 0 10px;
  display:inline-flex;
  float: left;
  padding: 10px 10px;
  background-image: url(icons/promiseo-logo.svg);
  background-repeat: no-repeat;
  background-position-y: 0.5rem;
  background-size: 200px;
  width: 220px;
  height: 30px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display:inline-flex;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height:fit-content;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.space {
  width: 100%;
  height: 60px;
}

/* Logo & Header menu end */

/* Progress bar */

#myProgress {
  width: 100%;
  background-color: #e1e1e1;
}

#myBar {
  width: 1%;
  height: 3px;
  background-color: #98b54f;
}

/* section slide start */

.cover {
  background-image: url(cover.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  width: 100%;
  height: 500px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slidesNav {
  position: absolute;
  top:120px;
  right: 10px;
}

/* The dots/bullets/indicators */

.slide-text {
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  font-size: 35px;
  color: white;
}

.dot {
  height: 5px;
  width: 5px;
  margin: 0 0 20px 0;
  background-color: white;
  border-radius: 50%;
  display: block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.dot:hover {
  background-color: #c4686d;
}

.active {
  background-color: #c4686d;
}

.mySlides p {
  margin-top: 100px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.button-filled-red {
  color: white;
  display: inline-flex;
  margin: auto;
  padding: 10px;
  font-size: 15px;
  border-radius: 3px;
  background-color: #c4686d;
  cursor: pointer;
}

.button-outline-teal {
  color: teal;
  display: inline-flex;
  border-radius: 3px;
  width: fit-content;
  padding: 10px;
  border:1px solid teal;
  cursor: pointer;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* section slide end */

/* Lorem ipsum part start */

.promiseo-cover {
  margin: 0;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  position: relative;
  text-align:center;
  width: 100%;
  height: 85px;
  font-size: 25px;
  color: #515967;
}

.lorem {
  position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: -1;
   overflow: hidden;
   color: #f7f7f7;
  font-size: 80px;
  font-weight: bold;
}

.section-text {
  width: 50%;
  margin: auto;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Tab section start */

.tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.cras-lobortis {
  text-align: center;
  color: #123f69;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  font-size: 40px;
}

/* Style the buttons inside the tab */
.tablinks { 
  background-color: #515967;
  width: 50px; 
  height: 50px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tablinks:hover {
  background-color: #484e59;
}

/* Create an active/current tablink class */
.tablinks.active {
  background-color: #c4686d;
}

/* Style the tab content */
.tabcontent {
  width: 70%;
  text-align: center;
  margin: auto;
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Aliquam section */

.aliquam-section {
  display: inline-flex;
  background-color: #8cbbbc;
  width: 100%;
  height: 400px;
}

.aliquam-left {
  background-color: #515967;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  margin: auto;
  float: left;
  width: 45%;
  height: 100%;
}

.aliquam-left-section {
  width: 350px;
  height: 300px; 
}

.aliquam-left-section span {
  color: white;
  font-size: 30px;
  margin-left: -100px;
}

.aliquam-left-inside {
  margin-top: 40px;
  display:block;
  float: left;
  width: 20%;
  height: 300px;
}

.speech-bubble {
  background-image: url(icons/speech-bubble.png);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.speech-bubble img {
  width: 25px;
}

.aliquam-right-inside {
  display: block;
  float: right;
  margin-top: 4px;
  width: 80%;
  height: 350px;
}

.aliquam-option {
  color: #81b5b6;
  font-weight: bold;
  font-size: 15px;
  margin-top: 30px;
}

.aliquam-more {
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.aliquam-right {
  background-image: url(aliquamCover.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  margin: auto;
  float: right;
  width: 55%;
  height: 100%;
}

.aliquam-right span {
  color: white;
  font-size: 25px;
}

/* Blog section */

.blog {
  width: 100vh;
  margin: auto;
  text-align: center;
}

.blog h1 {
  color: #123f69;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  font-size: 40px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.flex-container > div {
  width: 250px;
  height: 400px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  display:inline-block;
}

.flex-container .first-blog {
  background-image: url(blog1.jpg);
  background-repeat:no-repeat;
  border-radius: 3px;
}
.flex-container .second-blog {
  background-image: url(blog2.jpg);
  background-repeat:no-repeat;
  border-radius: 3px;
}
.flex-container .third-blog {
  background-image: url(blog3.jpg);
  background-repeat:no-repeat;
  border-radius: 3px;
}

.plus-btn { 
  background-color: #c4686d;
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  margin-left: 190px;
  margin-top: 230px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
}

.plus-icon {
  width:25px;
  height:25px;
  filter: invert(1);
}

.flex-container .blog-text {
  margin-left: 5px;
  text-align: left;
  font-size: 11px;
  font-weight: 500;
  color: #515967;
  line-height: normal;
}

.flex-container .date-text {
  margin-left: 5px;
  text-align: left;
  font-size: 11px;
  font-weight: 500;
  color: #aaaaaa;
  line-height: normal;
}

/* Footer section */

footer {
  border-top: 2px solid #98b54f;
}

.footer-nav {
  display: flex;
  width: 55%;
  list-style-type: none;
  margin: auto;
  justify-content:space-around;
}

.footer-nav a {
  color:black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 10px;
	display: block;
	padding: 15px;
	text-decoration: none;
  margin-bottom: 0;
}

.footer-nav a:hover {
  color:teal;
  transition: color 0.6s ease;
}

.footer-nav .logo {
  background-image: url(icons/promiseo-logo.svg);
  background-repeat: no-repeat;
  background-position-y: 0.5rem;
  width: 150px;
  height: 30px;
  float: left;
}

.footer-icons {
  margin-top: 20px;
  width: 30px;
  height: 30px;
}

.contact-section {
  height: 50px;
}

.left-contact-section {
  background-color: #98b54f;
  color: #515967;
  font-size: 12px;
  text-indent: -100px;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  margin: auto;
  float: left;
  width: 60%;
  height:100%;
}

.right-contact-section {
  background-color: #515967;
  display: inline-flex;
  align-items: center; 
  justify-content:flex-start;
  margin: auto;
  float: right;
  width: 40%;
  height:100%;
}

.contact-icons {
  display: block;
  width: auto;
  height: 20px;
  margin-left: 5px;
  background-repeat: no-repeat;
  text-decoration: none;
  text-indent: 20px;
  font-size: 12px;
  background-size: 15px 15px;
  filter: invert(1);
  color: black;
}

/* responsively */

@media screen and (max-width : 760px){
  .logo {
    width: 150px;
    background-size: 150px;
    display:flex;
  }
  .slide-text {
    font-size: 20px;
  }
  .section-text {
    width: 100%;
  }
  .flex-container {
    overflow-x: scroll;
  }
  .center-header {
    width: 100%;
  }
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

@media (max-width: 480px) {
  .tablinks {
    font-size: 12px;
    width: 35px;
    height: 25px;
  }
  .center-header {
    width: 100%;
  }
  .section-text {
    width: 100%;
  }
  .contact-icons {
    font-size: 10px;
  }
  .flex-container {
    overflow-x: scroll;
    justify-content:start;
  }
}

@media only screen and (max-width: 375px) {
  body {
    margin: 0;
  }
  .text {font-size: 11px}
  .slide-text {
    font-size: 15px;
  }
  .center-header {
    width: 100%;
  }
  .header li a {
    font-size: 9px;
  }
  .button-filled-red {
    padding: 3px;
    font-size: 11px;
  }
  .button-outline-teal {
    padding: 3px;
    font-size: 11px;
  }
  .tab {
    width: 100%;
  }
  .tablinks {
    font-size: 12px;
    padding: 5px 8px 5px 8px;
    width:auto;
    height:auto;
    margin: 5px;
  }
  .tabcontent {
    width: 100%;
    font-size: 9px;
    padding: 0;
  }
  .cover {
    height: 300px;
  }
  .logo {
    background-size: 80px;
    background-position-y: 0.8rem;
    width: 80px;
  }
  .promiseo-cover {
    font-size: 15px;
  }
  .lorem {
    font-size: 40px;
    margin-top: 20px;
  }
  .contact-icons {
    font-size: 8px;
  }
  .flex-container {
    overflow-x: scroll;
    justify-content: flex-start;
  }
  .aliquam-left-section span {
    font-size: 12px;
    margin-left: 0;
  }
  .section-text {
    width: 100%;
    font-size: 10px;
  }
  .speech-bubble {
    background-size: 20px;
    width: 20px;
    height: 20px;
    margin-top: 40px;
  }
  .speech-bubble img {
    width: 10px;
    height: 10px;
  }
  .aliquam-option {
    font-size: 9px;
    margin-top: 15px;
  }
  .aliquam-more {
    font-size: 8px;
    margin-top: 2px;
  }
  .first-option {
    margin-top: 60px;
  }
  .footer-nav {
    display: none;
  }
  .contact-section {
    height: 60px;
  }
  .left-contact-section {
    width: 30%;
    font-size: 9px;
    justify-content: flex-end;
    text-indent: 0;
  }
  .right-contact-section {
    width: 70%;
    display: block;
  }
  .cras-lobortis {
    font-size: 25px;
  }
  .aliquam-right span {
    font-size: 15px;
  }
}