body {font-family: Verdana, sans-serif;}

/* Logo & Menu */

.half-border {
  width: 100%;
  height: 3px;
  background:linear-gradient(to right, #98b54f 60%, #e1e1e1 40%);
}

.main-nav {
  display: flex;
  width: 55vw;
  list-style-type: none;
  margin: auto;
  justify-content:space-evenly;
}

.main-nav a {
  color:black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 10px;
	display: block;
	padding: 15px;
	text-decoration: none;
  margin-bottom: 0;
}

.main-nav a:hover {
  color:teal;
  transition: color 0.6s ease;
}

.main-nav .logo {
  background-image: url(icons/promiseo-logo.svg);
  background-repeat: no-repeat;
  background-position-y: 0.5rem;
  width: 220px;
  height: 30px;
  float: left;
}

/* Logo & Menu */

/* section slide */

.cover {
  background-image: url(cover.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  width: 100%;
  height: 500px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slidesNav {
  position: absolute;
  top:120px;
  right: 10px;
}

/* The dots/bullets/indicators */

.slide-text {
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  font-size: 35px;
  color: white;
}

.dot {
  height: 5px;
  width: 5px;
  margin: 0 0 20px 0;
  background-color: white;
  border-radius: 50%;
  display: block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.dot:hover {
  background-color: #c4686d;
}

.active {
  background-color: #c4686d;
}

.mySlides p {
  margin-top: 100px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.button-filled-red {
  color: white;
  display: inline-flex;
  margin: auto;
  padding: 10px;
  font-size: 15px;
  border-radius: 3px;
  background-color: #c4686d;
  cursor: pointer;
}

.button-outline-teal {
  color: teal;
  display: inline-flex;
  border-radius: 3px;
  width: fit-content;
  padding: 10px;
  border:1px solid teal;
  cursor: pointer;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* section slide */

/* Lorem ipsum part */

.promiseo-cover {
  margin: 0;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  position: relative;
  text-align:center;
  width: 100vw;
  height: 85px;
  font-size: 25px;
  color: #515967;
}

.lorem {
  position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: -1;
   overflow: hidden;
   color: #f7f7f7;
  font-size: 80px;
  font-weight: bold;
}

.section-text {
  width: 50vw;
  margin: auto;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Tab section */

.tab {
  width: 70vw;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.tab h1 {
  color: #123f69;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  font-size: 40px;
}

/* Style the buttons inside the tab */
.tablinks { 
  background-color: #515967;
  width: 50px; 
  height: 50px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tablinks:hover {
  background-color: #484e59;
}

/* Create an active/current tablink class */
.tablinks.active {
  background-color: #c4686d;
}

/* Style the tab content */
.tabcontent {
  width: 70vw;
  text-align: center;
  margin: auto;
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Aliquam section */

.aliquam-section {
  display: inline-flex;
  background-color: #8cbbbc;
  width: 100%;
  height: 400px;
}

.aliquam-left {
  background-color: #515967;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  margin: auto;
  float: left;
  width: 45%;
  height: 100%;
}

.aliquam-left-section {
  width: 350px;
  height: 300px;
  margin-right: -350px;
}

.aliquam-left-section span {
  color: white;
  font-size: 30px;
  margin-left: -100px;
}

.aliquam-left-inside {
  margin-top: 40px;
  display:block;
  float: left;
  width: 20%;
  height: 300px;
}

.speech-bubble {
  background-image: url(icons/speech-bubble.png);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.speech-bubble img {
  width: 25px;
}

.aliquam-right-inside {
  display: block;
  float: right;
  margin-top: 4px;
  width: 80%;
  height: 350px;
}

.aliquam-option {
  color: #81b5b6;
  font-weight: bold;
  font-size: 15px;
  margin-top: 30px;
}

.aliquam-more {
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.aliquam-right {
  background-image: url(aliquamCover.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  margin: auto;
  float: right;
  width: 55%;
  height: 100%;
}

.aliquam-right span {
  color: white;
  font-size: 25px;
  margin-left: -300px;
}

/* Blog section */

.blog {
  width: 100vh;
  margin: auto;
  text-align: center;
}

.blog h1 {
  color: #123f69;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  font-size: 40px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.flex-container > div {
  width: 250px;
  height: 400px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  display:inline-block;
}

.flex-container .first-blog {
  background-image: url(blog1.jpg);
  background-repeat:no-repeat;
  border-radius: 3px;
}
.flex-container .second-blog {
  background-image: url(blog2.jpg);
  background-repeat:no-repeat;
  border-radius: 3px;
}
.flex-container .third-blog {
  background-image: url(blog3.jpg);
  background-repeat:no-repeat;
  border-radius: 3px;
}

.plus-btn { 
  background-color: #c4686d;
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  margin-left: 190px;
  margin-top: 230px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  cursor: pointer;
}

.flex-container .blog-text {
  margin-left: 5px;
  text-align: left;
  font-size: 11px;
  font-weight: 500;
  color: #515967;
  line-height: normal;
}

.flex-container .date-text {
  margin-left: 5px;
  text-align: left;
  font-size: 11px;
  font-weight: 500;
  color: #aaaaaa;
  line-height: normal;
}